@import "../node_modules/normalize.css/normalize.css";
@font-face {
  font-family: "ubuntu-reguler";
  src: url("fonts/Ubuntu-Regular.eot");
  src: url("fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Ubuntu-Regular.woff") format("woff"), /* Všechny moderní prohlížeče */ url("fonts/Ubuntu-Regular.ttf") format("truetype");
  
  /* IE9 v kompatibilním režimu */
  /* Starší Safari, Android, iOS */
}
@font-face {
  font-family: "ubuntu-light";
  src: url("fonts/Ubuntu-Light.eot");
  src: url("fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Ubuntu-Light.woff") format("woff"), /* Všechny moderní prohlížeče */ url("fonts/Ubuntu-Light.ttf") format("truetype");
  
  /* IE9 v kompatibilním režimu */
  /* Starší Safari, Android, iOS */
}
* {
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: "ubuntu-light", Georgia, serif;
}
.secondary {
  font-size: 131.25%;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.header {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  height: 125px;
  text-align: center;
  width: 100%;
}
.header__logo {
  font-size: 200%;
  font-variant: small-caps;
  padding: 10px 0 15px;
}
.header strong {
  display: block;
  font-size: 56.25%;
}
.nav {
  margin: 0 auto;
  padding: 11px 0;
  width: 100%;
}
.nav__item {
  float: left;
  font-size: 88.88888889%;
  text-transform: uppercase;
  list-style: none;
  width: 33%;
}
.nav__item a {
  color: #ffffff;
}
.highlighted-item {
  height: 40px;
  margin: 10px 0;
  text-align: center;
}
.highlighted-item--checked {
  background: #27ce79 url("../img/checked-white.png") no-repeat center;
  border-radius: 40px 40px 40px 40px;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.highlighted-item__title {
  background-color: #27ce79;
  border-radius: 40px 40px 40px 40px;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  margin: 0 0 0 0px;
  padding: 7px 15px 0;
  position: relative;
  top: -11px;
}
