@import "../node_modules/normalize.css/normalize.css";
@font-face {
  font-family: "ubuntu-reguler";
  src: url("fonts/Ubuntu-Regular.eot");
  src: url("fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Ubuntu-Regular.woff") format("woff"), /* Všechny moderní prohlížeče */ url("fonts/Ubuntu-Regular.ttf") format("truetype");
  
  /* IE9 v kompatibilním režimu */
  /* Starší Safari, Android, iOS */
}
@font-face {
  font-family: "ubuntu-light";
  src: url("fonts/Ubuntu-Light.eot");
  src: url("fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Ubuntu-Light.woff") format("woff"), /* Všechny moderní prohlížeče */ url("fonts/Ubuntu-Light.ttf") format("truetype");
  
  /* IE9 v kompatibilním režimu */
  /* Starší Safari, Android, iOS */
}
* {
  box-sizing: border-box;
}
body {
  box-shadow: 0 0 10px #808080;
  font-size: 100%;
  font-family: "ubuntu-light", Georgia, serif;
  margin: 0 auto;
  max-width: 960px;
}
.secondary {
  font-size: 131.25%;
  margin: 0;
}
.tertiary {
  font-size: 106.25%;
  margin: 0;
  padding: 0 0 2px 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
strong {
  font-size: 14px;
  font-weight: normal;
}
.section {
  float: left;
  text-align: center;
  width: 100%;
}
.section--dark {
  background-color: #4b4b4b;
}
.section__title {
  clear: both;
  padding: 15px 20px;
  margin: 0;
  text-align: center;
}
.section__title--light {
  color: #ffffff;
}
.contact p {
  display: inline-block;
  height: 45px;
  margin: 3px 0;
  padding: 12px 0 0 55px;
}
.contact .phone {
  background: url("../img/phone-icon.png") no-repeat left center;
}
.contact .email {
  background: url("../img/email-icon.png") no-repeat left center;
}
.contact__table {
  margin: 0 auto;
}
.contact__table tr {
  height: 40px;
}
.contact__table td,
.contact__table th {
  min-width: 130px;
  vertical-align: top;
  text-align: left;
}
.map {
  max-width: 550px;
  height: auto;
  margin: 20px auto;
  width: 100%;
}
.footer {
  background-color: #4b4b4b;
  clear: both;
  height: 50px;
  text-align: center;
}
.footer p {
  color: #ffffff;
  padding: 17px 0 0 0;
  font-size: 13px;
}
.footer a {
  color: #ffffff;
}
.welcome {
  background: url("../img/welcome_background/8.jpg") no-repeat center top;
  text-align: center;
  padding: 0 0 25px;
}
.welcome__phone {
  border: 1px solid #ffffff;
  border-radius: 50px 50px 50px 50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: block;
  font-size: 162.5%;
  height: 50px;
  margin: 25px auto 0;
  padding: 9px 17px;
  width: 260px;
}
.header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 125px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 550px) {
  .header {
    height: 75px;
  }
}
.header__logo {
  font-size: 200%;
  font-variant: small-caps;
  padding: 10px 0 10px;
}
@media screen and (min-width: 550px) {
  .header__logo {
    float: left;
    padding: 6px 0 0 20px;
  }
}
.header__logo a {
  color: #ffffff;
}
.header strong {
  display: block;
  font-size: 56.25%;
}
@media screen and (min-width: 550px) {
  .header strong {
    text-align: left;
    padding: 0 0 0 3px;
    margin-top: -3px;
  }
}
.nav {
  margin: 0 auto;
  padding: 11px 0;
  width: 100%;
}
@media screen and (min-width: 550px) {
  .nav {
    float: right;
    margin: 0 15px 0 0;
    padding: 0;
    width: auto;
    height: 75px;
  }
}
.nav__item {
  float: left;
  font-size: 88.88888889%;
  text-transform: uppercase;
  list-style: none;
  width: 33%;
}
@media screen and (min-width: 550px) {
  .nav__item {
    width: 90px;
    height: 75px;
    display: block;
  }
  .nav__item:hover {
    background-color: rgba(240, 240, 240, 0.34);
  }
}
.nav__item a {
  color: #ffffff;
}
.nav__item a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .nav__item a {
    display: block;
    height: 75px;
    padding: 27px 0 0 0;
  }
  .nav__item a:hover {
    text-decoration: none;
  }
}
.bg1 {
  background: url("../img/welcome_background/1.jpg") no-repeat center top;
}
.bg2 {
  background: url("../img/welcome_background/2.jpg") no-repeat center -50px;
}
.bg3 {
  background: url("../img/welcome_background/3.jpg") no-repeat center top;
}
.bg4 {
  background: url("../img/welcome_background/4.jpg") no-repeat center;
}
.bg5 {
  background: url("../img/welcome_background/5.jpg") no-repeat center;
}
.bg6 {
  background: url("../img/welcome_background/6.jpg") no-repeat center -40px;
}
.bg7 {
  background: url("../img/welcome_background/7.jpg") no-repeat center;
}
.bg8 {
  background: url("../img/welcome_background/8.jpg") no-repeat center;
}
.bg9 {
  background: url("../img/welcome_background/9.jpg") no-repeat center;
}
.highlighted__wrapper {
  display: inline-block;
  margin: 20px 0 0 0;
}
.highlighted-item {
  height: 40px;
  margin: 10px 0;
  text-align: left;
}
.highlighted-item__checked {
  background: #27ce79 url("../img/checked-white.png") no-repeat center;
  background-size: 21px;
  border-radius: 40px 40px 40px 40px;
  display: inline-block;
  height: 30px;
  left: -200px;
  opacity: 0;
  position: relative;
  width: 30px;
}
.highlighted-item__checked--visible {
  left: 0;
  opacity: 1;
}
@media screen and (min-width: 550px) {
  .highlighted-item__checked {
    background-size: 28px;
    height: 40px;
    width: 40px;
  }
}
.highlighted-item:nth-of-type(1) .highlighted-item__checked,
.highlighted-item:nth-of-type(1) .highlighted-item__title {
  transition: opacity 1000ms ease,
                left 1000ms ease;
}
.highlighted-item:nth-of-type(2) .highlighted-item__checked,
.highlighted-item:nth-of-type(2) .highlighted-item__title {
  transition: opacity 1000ms ease 800ms,
                left 1000ms ease 800ms;
}
.highlighted-item:nth-of-type(3) .highlighted-item__checked,
.highlighted-item:nth-of-type(3) .highlighted-item__title {
  transition: opacity 1000ms ease 1600ms,
                left 1000ms ease 1600ms;
}
.highlighted-item:nth-of-type(4) .highlighted-item__checked,
.highlighted-item:nth-of-type(4) .highlighted-item__title {
  transition: opacity 1000ms ease 2400ms,
                left 1000ms ease 2400ms;
}
.highlighted-item__title {
  background-color: #27ce79;
  border-radius: 40px 40px 40px 40px;
  color: #ffffff;
  display: inline-block;
  font-size: 100%;
  height: 30px;
  margin: 0 0 0 0px;
  opacity: 0;
  padding: 7px 15px 0;
  position: relative;
  top: -10px;
}
.highlighted-item__title--visible {
  opacity: 1;
}
@media screen and (min-width: 550px) {
  .highlighted-item__title {
    font-size: 21px;
    height: 40px;
    top: -12px;
  }
}
.services__list {
  display: inline-block;
  text-align: center;
  margin: 0 10px 10px 10px;
  padding: 0 5px 5px 17px;
  vertical-align: top;
}
.services__list ul {
  margin: 0;
  padding: 0;
}
.services__list li {
  background: url("../img/dash.gif") no-repeat left center;
  list-style: none;
  padding: 0 0 0 8px;
  text-align: left;
}
.services__title {
  text-align: left;
  padding: 0 0 2px 0;
}
.services-block {
  display: block;
  float: left;
  position: relative;
  width: 33.3333333333333333%;
}
.services-block img {
  display: block;
  height: auto;
  max-width: 100%;
}
.services-block__label {
  background-color: rgba(113, 184, 32, 0.4);
  bottom: 0;
  height: 120px;
  position: absolute;
  width: 100%;
}
.services-block__label .services__list {
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 9px 15px 0;
  text-align: left;
}
.services-block__label ul {
  font-size: 13px;
  padding: 5px 0;
}
.services-block__label li {
  list-style-image: none;
  padding: 0;
}
.services-block__label p {
  font-size: 13px;
}
.services-block__label--houses {
  background-color: rgba(17, 106, 25, 0.76);
}
.services-block__label--flats {
  background-color: rgba(127, 64, 217, 0.42);
}
.services-block__label--facade {
  background-color: rgba(0, 97, 134, 0.5);
}
.services-block__label--roof {
  background-color: rgba(236, 0, 140, 0.4);
}
.services-block__label--drywall {
  background-color: rgba(164, 183, 33, 0.65);
}
.services-block__label--fence {
  background-color: rgba(0, 97, 134, 0.5);
}
.services-block__label--transport {
  background-color: rgba(25, 157, 106, 0.39);
}
.services-block__label--stairs {
  background-color: rgba(36, 85, 142, 0.57);
}
.services strong {
  display: block;
  text-align: left;
  padding: 0 35px 25px;
}
.references__collection {
  float: left;
  margin: 0px 0 30px;
  width: 100%;
}
.references__collection .tertiary {
  font-size: 18px;
  margin: 5px 20px;
}
.references__collection p {
  font-size: 14px;
  margin: 5px 20px;
}
.references__item {
  display: block;
  float: left;
  font-size: 0;
  position: relative;
  width: 50%;
}
@media screen and (min-width: 550px) {
  .references__item {
    width: 33.333333333%;
  }
}
@media screen and (min-width: 800px) {
  .references__item {
    width: 20%;
  }
}
.references img {
  width: 100%;
  height: auto;
  position: relative;
  transition: all 450ms ease;
  z-index: 2;
}
.references__description {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: #ffffff;
  height: 50px;
  font-size: 14px;
  left: 0;
  padding: 5px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.references__item:hover > .references__description {
  z-index: 3;
}
.references__bottom {
  background-color: #4b4b4b;
  clear: both;
  display: block;
  float: left;
  padding: 0px 0 0 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
.button {
  border: 1px solid #4b4b4b;
  border-radius: 38px 38px 38px 38px;
  clear: both;
  display: block;
  height: 36px;
  margin: 15px auto;
  text-transform: uppercase;
  width: 66px;
}
.button:hover {
  box-shadow: 0px 0px 5px #000000;
  background-color: #27ce79;
}
.button a {
  color: #4b4b4b;
  display: block;
  height: 34px;
  padding: 8px 15px;
}
.button a:hover {
  color: #ffffff;
}
.button--light {
  border-color: #ffffff;
}
.button--light:hover {
  background-color: #27ce79;
  box-shadow: 0px 0px 7px #B2B4B3;
  border-color: #C4C4C4;
}
.button--light a {
  color: #ffffff;
}
