@import "../core/variables";

.section{
  &__title{
    padding: 15px 20px;
    margin: 0;
    text-align: center;

    &--light{
      color: #ffffff;
    }
  }
}


.contact{
  clear: both;
  text-align: center;

  p{
    display: inline-block;
    height: 45px;
    margin: 3px 0;
    padding: 12px 0 0 55px;
  }

  .phone{
     background: url("../img/phone-icon.png") no-repeat left center;
   }

  .email{
    background: url("../img/email-icon.png") no-repeat left center;
  }
}

.footer{
  background-color: @alpha;
  clear: both;
  height: 50px;
  text-align: center;

  p{
    color: #ffffff;
    padding: 17px 0 0 0;
    font-size: 13px;
  }
  a{
    color: #ffffff;
  }
}