@import "../core/variables";

.button{
  border: 1px solid @alpha;
  border-radius: 38px 38px 38px 38px;
  display: table;
  height: 38px;
  margin: 0 auto;
  padding: 0 10px;
  text-transform: uppercase;

  a{
    color: @alpha;
    display: block;
    height: 40px;
    padding: 10px 6px;
  }
}