@import "../core/variables";

.references{
  background-color: @alpha;
  float: left;

  &__collection{
    float: left;
  }

  &__item{
    display: block;
    float: left;
    font-size: 0;
    position: relative;
    width: 100%;

    @media screen and (min-width: 400px) {
      width: 50%;
    }
    @media screen and (min-width: 550px) {
      width: 33.333333333%;
    }
    @media screen and (min-width: 800px) {
      width: 25%;
    }
  }
    &__item:nth-last-of-type(5),
    &__item:nth-last-of-type(4),
    &__item:nth-last-of-type(3),
    &__item:nth-last-of-type(2){
        display: none;
    }

    &__item:nth-last-child(4),
    &__item:nth-last-child(5){
        @media screen and (min-width: 550px) {
          display: block;
        }
    }

    &__item:nth-last-child(3),
    &__item:nth-last-child(2){
      @media screen and (min-width: 800px) {
        display: block;
      }
    }
  :hover > img{
    transform: scale(0.9);
    z-index: 2;
  }

  img{
    width: 100%;
    height: auto;
    position: relative;
    transition: all 450ms ease;
    z-index: 4;

    &:hover ~ .references__description{
      bottom: 0;
      z-index: 3;
    }


  }

  &__description{
    background-color: rgba(111, 108, 108, 0.80);
    bottom: -50px;
    color: #ffffff;
    height: 50px;
    font-size: 14px;
    left: 0;
    padding: 5px;
    position: absolute;
    transition: all 500ms ease;
    width: 100%;
    z-index: -1;

    &:hover{
      bottom: 0;
      z-index: 3;
    }

  }

  &__bottom{
    background-color: @alpha;
    clear: both;
    display: block;
    float: left;
    padding: 0px 0 0 0;
    position: relative;
    width: 100%;
    z-index: 9;
  }
}

.references__item{}